@import "tailwindcss";

@layer base {
  :root {
    --brand-blue: #3B82F6;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #0f172a; /* Equivalente ao bg-slate-900 */
    color: white;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  h1, h2, h3, h4 {
    font-family: 'Outfit', sans-serif;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3b82f6;
}